[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.27"
optimizer = true
optimizer_runs = 200
via_ir = false

[profile.default.fmt]
line_length = 100
tab_width = 4
bracket_spacing = true

[rpc_endpoints]
mantle_sepolia = "${MANTLE_SEPOLIA_RPC_URL}"
mantle_mainnet = "${MANTLE_MAINNET_RPC_URL}"

[etherscan]
mantle_sepolia = { key = "${ETHERSCAN_API_KEY}", url = "https://explorer.sepolia.mantle.xyz/api" }
